<!DOCTYPE html>
<div class="login-page">
  <div class="login-links">
    <a class="btn btn-primary" ui-sref="home">Home</a>
  </div>
  <div id="signupStart" class="login-dark">
    <form method="post" id="signup" ng-submit="submitForm()">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration">
        <i class="material-icons md-148">lock</i>
      </div>
      <div class="form-group">
        <input
          ng-model="formData.name"
          class="form-control"
          required=""
          name="Userame"
          placeholder="Userame"
        />
        <input
          ng-model="formData.password"
          class="form-control"
          required=""
          name="password"
          placeholder="password"
        />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Log In</button>
      </div>
      <p class="forgot">Type a random username and login</p>
      <!--Server Down / Login error Message-->
      <p id="loginerror" style="color: red" class="forgot"></p>
    </form>
  </div>
</div>
